body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
  max-width: 70%;
}

h5 {
  margin-bottom: 0.5rem;
}
h6 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.genes {
  background-color: #f8f8f8;
  border: 1px solid gainsboro;
  border-radius: 7px;
}

.gene-data {
  margin: 0.5em 0;
  padding: 1em;
  border-bottom: 1px solid gainsboro;

  &:last-of-type {
    border: none;
  }

  .tag {
    display: inline-block;
    background-color: #e8e8e8;
    border: 1px solid gainsboro;
    padding: 0.4em;
    margin: 0 0 0.2em;
    border-radius: 4px;

    &--small {
      @extend .tag;
      font-size: 0.75em;
    }
  }

  .confidence-level-badge {
    text-align: center;
    padding: 0.2em;
    display: block;
    background-color: #e8e8e8;
    border: 1px solid gainsboro;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.85em;

    &-green {
      @extend .confidence-level-badge;
      background-color: #3fad46;
      border: 1px solid #318536;
      color: white;
    }
    &-amber {
      @extend .confidence-level-badge;
      background-color: #f0ad4e;
      border: 1px solid #d39945;
      color: white;
    }
    &-red {
      @extend .confidence-level-badge;
      background-color: #d9534f;
      border: 1px solid #ac413e;
      color: white;
    }
  }
}
